* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.app__container {
  display: grid;
  margin: 0 auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* =========== TITLE ===========  */

.app__container-title {
  width: 100%;
  margin: 0 auto;
  font-family: 'Tilt Warp', cursive;
  ;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(3rem);
}

.app__title {
  font-size: 46px;
  max-width: 300px;
  color: beige;
  -webkit-text-stroke: 1px rgb(233, 157, 17);
  text-align: center;
}

/* =========== CARD & BUTTON ===========  */

.app__container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 300px;
}

.fortune__message-card {
  width: 100%;
  border-radius: 8px;
  padding: 20px 15px;
  background-color: aliceblue;
  box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.75);
}

.fortune__message-phrase {
  margin: 0;
  padding: 0 20px;
  color: #807d7d;
  font-size: 28px;
  text-align: center;
}

.fortune__message-icon {
  display: flex;
  flex-direction: row-reverse;
  font-size: 30px;
  color: #777;
}

.app__button {
  width: 150px;
  height: 40px;
  background-color: rgb(252, 123, 3);
  border-radius: 7px;
}

/* =========== AUTHOR ===========  */

.fortune__container {
  display: flex;
  justify-content: center;
}

.fortune__author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  color: #000;
  background-color: rgba(255, 255, 255, 0.4);
  transform: translateY(2.5rem);
}

/* *********************************************************************** */

@media (min-width: 420px)and (max-width: 620px) {

  /* =========== CARD & BUTTON ===========  */

  .app__container-info {
    width: 400px;
  }

  .fortune__message-card {
    box-shadow: 7px 9px 13px 3px rgba(0, 0, 0, 0.79);
    -webkit-box-shadow: 7px 9px 13px 3px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 7px 9px 13px 3px rgba(0, 0, 0, 0.79);
  }

}

@media (min-width: 621px) {
  /* =========== TITLE ===========  */

  .app__container-title {
    transform: translateX(-0.5rem);
  }

  /* =========== CARD & BUTTON ===========  */

  .app__container-info {
    width: 600px;
  }

  .fortune__message-card {
    box-shadow: 7px 9px 13px 3px rgba(0, 0, 0, 0.79);
    -webkit-box-shadow: 7px 9px 13px 3px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 7px 9px 13px 3px rgba(0, 0, 0, 0.79);
  }

}



/* @media (min-width: 400px) and (max-width: 767px) {
  
  .app {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .app__container-info {
    display: flex;
    margin: 0 auto;
    gap: 20px;
    width: 400px;
  }
  
  .fortune__message-card {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px 15px;
    background-color: aliceblue;
  }
  
  .fortune__message-phrase {
    margin: 0;
    padding: 0 20px;
    color: #807d7d;
    font-size: 20px;
    text-align: center;
  }
  
  .fortune__author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    color: #000;
    background-color: rgba(255, 255, 255, 0.4);
  }
  
} */